{% extends "layout.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block body %}
    <h1>Choose an Exercise</h1>

    <form action=" " method=" ">

        <div class=" ">
            <select class=" " name=" ">
                {%  %}
                    <option> </option>
                {% endfor %}
            </select>
        </div>

        <div class=" ">
            <input class=" " name="name" placeholder=" ">
        </div>

        <div class=" ">
            <button class=" ">Choose Exercise</button>
        </div>

    </form>
{% endblock %}
